.main {
  margin: 20px;
}
.main-div-1 {
  background-color: white;
}
.padding-top {
  padding-top: 20px;
}
.nav-bar {
  width: 33.33%;
  text-align: center;
  outline: none !important;
  text-decoration: none;
}
.no-border {
  outline: none !important;
  text-decoration: none;
}
.cards {
  margin-top: 10px;
  padding: 12px 5%;
}
.arrow-icon {
  float: right;
}
.image-size {
  width: 40px;
  height: 20px;
}
.country-name {
  padding-left: 20px;
}
.time {
    width: 75%;
    margin: auto;
    height: 25px;
    background-color: lightpink;
    border-radius: 10px;
}
.text-time {
  text-align: center;
  padding-top: 4px;
}
.active-color {
  color: darkred;
  border-color: grey;
}
.active-tab {
  border-bottom: darkred 3px solid;
}
.dot {
  height: 5px;
  width: 5px;
  background-color:black;
  border-radius: 50%;
  display: inline-block;
  margin-bottom: 2px;
}
